<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../IMAGENES/android-chrome-192x192.png" type="image/x-icon">
        <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <title>Contacto</title>
    </head>
<body class="body">
<!-- HEADER -->     
<header class="header"> 
    <div class="logo__sticky">
        <li> <a href="../index.html" ><img src="../IMAGENES/android-chrome-192x192.png" alt=""></a> </li>
    </div>
    <nav class="header__navbar">
        <div class="nav___derecho">
            <ul class="header__navbar--principal">
                <li> <a href="../VIEWS/productos.html">Productos</a> </li>
                <li> <a href="../VIEWS/nosotros.html">Nosotros</a></li>
                <li> <a href="../VIEWS/contacto.html">Contacto</a> </li>
                <li> <a href="../VIEWS/faq.html">FAQ</a></li>
                <li>
                    <fieldset>
                        <label for="buscar"></label>
                        <input type="text" name="buscar" id="buscar" placeholder="buscar">
                    </fieldset>
                </li>    
            </ul>
        </div>    
    </nav>
</header>

<!-- CONTENIDO -->
    <div class="formulario">
        <main>
            <h1>DEJANOS TU COMENTARIO</h1>
                <h3>Responderemos a cualquier inquietud que tengas sobre nuestra tienda online</h3>
                <form action="" class="Formulario__padre">
                    <fieldset class="formulario__1">
                        <div class="separaciones__formulario">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre" required>
                        </div>
                        <div>
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Escribe tu apellido" required>
                        </div>                        
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Escribe tu email" required>
                        </div>
                        <div>
                            <label for="telefono">Telefono</label>
                            <input type="text" name="telefono" id="telefono" placeholder="Escribe tu telefono" required>
                        </div>
                        <div>
                            <label for="comentario">Comentario</label>
                            <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Escribe tu comentario"></textarea>
                        </div>
                        <div>
                            <input type="submit">
                        </div>
                    </fieldset>
                </form>
        </main>
    </div> 
<!-- FOOTER -->
<footer>
    <div class="footer__flex">   
        <div>
            <h2 class="footer__1">¿EN QUE PODEMOS AYUDARTE?</h2>
                <p>Respondemos a todas tus preguntas sobre nuestro servicio online</p> 
                <p>HORARIO</p>
                <p>Lunes a Viernes 10 a 17 hs</p>
                <p>54 11 6185 0930</p>
        </div>
        <div>
            <h2 class="footer__2">¡ENVIANOS UN MENSAJE!</h2>
                <p>Queremos saber que tenes para decir</p>
                <a href="../VIEWS/contacto.html">Hace click aca y dejanos tu comentario</a>
            <h2><a href="../VIEWS/nosotros.html">SOMOS NEON</a></h2>
        </div> 
        <div>
            <a href="../index.html"><img src="../IMAGENES/android-chrome-192x192.png" alt="" class="footer__logo"></a>
        </div>
    </div>  
        <div class="footer__creditos">
            DESARROLLADO POR GABRIELA MARTINEZ
        </div>
    </footer>
  </body>
</html>