<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../IMAGENES/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>FAQ</title>
</head>
<body class="body">
<!-- HEADER -->     
<header class="header"> 
    <div class="logo__sticky">
        <li> <a href="../index.html" ><img src="../IMAGENES/android-chrome-192x192.png" alt=""></a> </li>
    </div>
    <nav class="header__navbar">
        <div class="nav___derecho">
            <ul class="header__navbar--principal">
                <li> <a href="../VIEWS/productos.html">Productos</a> </li>
                <li> <a href="../VIEWS/nosotros.html">Nosotros</a></li>
                <li> <a href="../VIEWS/contacto.html">Contacto</a> </li>
                <li> <a href="../VIEWS/faq.html">FAQ</a></li>
                <li>
                    <fieldset>
                    <label for="buscar"></label>
                    <input type="text" name="buscar" id="buscar" placeholder="buscar">
                    </fieldset>
                </li>    
            </ul>
        </div>    
    </nav>
</header><!-- CONTENIDO SECCION FAQ -->
<main>
    <H1 class="titulo">PREGUNTAS FRECUENTES</H1>
    <div class="contenido__faq">
        <div class=contenidofaq__1>
            <h2>¿Hacen envios?</h2>
                <p>Sí, hacemos envíos desde CABA. Los costos de envío varían según la provincia de entrega, y son calculados de forma automática por la plataforma en el check-out, antes del pago.</p>
        </div>   
        <div class=contenidofaq__2> 
            <h2>¿Cuanto demora la entrega?</h2>
                <p>Dependerá de la dirección de entrega. Nosotros despachamos el producto en un máximo de 72hs desde el momento de la compra. Luego según la dirección de entrega puede tardar entre 3 y 7 días. Los detalles del envío te llegaran en un correo electrónico, y podrás realizar el seguimiento del paquete.</p>
        </div> 
        <div class=contenidofaq__3>   
            <h2>¿Que proveedor de envío utilizan?</h2>
                <p>Todos nuestros envíos se despachan por correo Andreani. Podrás realizar el seguimiento online de tu pedido en cualquier momento.</p>
        </div>
    </div>
</main>
<!-- FOOTER -->
<footer>
    <div class="footer__flex">   
        <div>
            <h2 class="footer__1">¿EN QUE PODEMOS AYUDARTE?</h2>
                <p>Respondemos a todas tus preguntas sobre nuestro servicio online</p> 
                <p>HORARIO</p>
                <p>Lunes a Viernes 10 a 17 hs</p>
                <p>54 11 6185 0930</p>
        </div>
        <div>
            <h2 class="footer__2">¡ENVIANOS UN MENSAJE!</h2>
                <p>Queremos saber que tenes para decir</p>
                <a href="../VIEWS/contacto.html">Hace click aca y dejanos tu comentario</a>
            <h2><a href="../VIEWS/nosotros.html">SOMOS NEON</a></h2>
        </div> 
        <div>
            <a href="../index.html"><img src="../IMAGENES/android-chrome-192x192.png" alt="" class="footer__logo"></a>
        </div>
    </div>  
        <div class="footer__creditos">
            DESARROLLADO POR GABRIELA MARTINEZ
        </div>
</footer>
 
</body>
</html>