<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../IMAGENES/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Nosotros</title>
</head>
<body class="body">
<!-- HEADER -->     
<header class="header"> 
    <nav class="header__navbar">
        <div class="logo__sticky">
            <li> <a href="../index.html" ><img src="../IMAGENES/android-chrome-192x192.png" alt=""></a> </li>
        </div>
        <div class="nav___derecho">
            <ul class="header__navbar--principal">
                <li> <a href="../VIEWS/productos.html">Productos</a> </li>
                <li> <a href="../VIEWS/contacto.html">Contacto</a> </li>
                <li> <a href="../VIEWS/faq.html">FAQ</a></li>
                <li>
                    <fieldset>
                    <label for="buscar"></label>
                    <input type="text" name="buscar" id="buscar" placeholder="buscar">
                    </fieldset>
                </li>    
            </ul>
        </div>    
    </nav>
</header>

<!-- comienza seccion principal el parrafo y la foto estaran centrados -->

    <main>
        <div class="contenido__nosotros">
            <div class="contenido__nosotros1">
                <h1>La marca</h1>
            </div>    
            <div class="contenido__nosotros2">
                <h2>Creada en 2018 por Gabriela Martinez, como una marca del grupo Martinez</h2>
                <p>NEON se presenta como un punto referente del fashion actual. Su publico se caracteriza por ser joven, salvaje y aventurero. Siempre al tanto de las ultimas tendencias y estan interesados en la musica, redes sociales y las nuevas tecnologias. Para tener siempre las últimas tendencias en la tienda NEON utiliza su modelo de negocio flexible para adaptarse a los cambios que se producen durante las temporadas, respondiendo a ellos llevando nuevos productos a las tiendas en el menor tiempo posible. Los modelos de cada temporada son desarrollados íntegramente por el equipo creativo, el cual toma como principal fuente de inspiración las tendencias de moda imperantes en el mercado, a través de la información recibida del mundo, calles, redes sociales, coolhunting. El equipo de diseño de NEON está formado por más de 30 profesionales que están continuamente valorando las necesidades, deseos y demandas de los consumidores.</p>
            </div>
            <div class="contenido__nosotros3">
                <img src="../IMAGENES/7.jpg" alt="somos" height="315">
            </div>
        </div>
    </main>

<!-- FOOTER -->
<footer>
    <div class="footer__flex">   
        <div>
            <h2 class="footer__1">¿EN QUE PODEMOS AYUDARTE?</h2>
                <p>Respondemos a todas tus preguntas sobre nuestro servicio online</p> 
                <p>HORARIO</p>
                <p>Lunes a Viernes 10 a 17 hs</p>
                <p>54 11 6185 0930</p>
        </div>
        <div>
            <h2 class="footer__2">¡ENVIANOS UN MENSAJE!</h2>
                <p>Queremos saber que tenes para decir</p>
                <a href="../VIEWS/contacto.html">Hace click aca y dejanos tu comentario</a>
            <h2><a href="../VIEWS/nosotros.html">SOMOS NEON</a></h2>
        </div> 
        <div>
            <a href="../index.html"><img src="../IMAGENES/android-chrome-192x192.png" alt="" class="footer__logo"></a>
        </div>
    </div>  
        <div class="footer__creditos">
            DESARROLLADO POR GABRIELA MARTINEZ
        </div>
</footer>
</body>
</html>