<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../IMAGENES/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Productos</title>
</head>
<body class="body">
<!-- HEADER -->     
<header class="header"> 
    <div class="logo__sticky">
        <li> <a href="../index.html" ><img src="../IMAGENES/android-chrome-192x192.png" alt=""></a></li>
    </div>
    <nav class="header__navbar">
        <ul>
            <li> <a href="../VIEWS/productos.html">Productos</a> </li>
            <li> <a href="../VIEWS/nosotros.html">Nosotros</a></li>
            <li> <a href="../VIEWS/contacto.html">Contacto</a> </li>
            <li> <a href="../VIEWS/faq.html">FAQ</a></li>
            <li>
                <fieldset>
                <label for="buscar"></label>
                <input type="text" name="buscar" id="buscar" placeholder="buscar">
                </fieldset>
            </li>    
        </ul>
    </nav>
</header>

<!-- productos -->
<main class="productos_productos">
    <div class="productos">
        <div>
            <h1>CHEQUEA TODOS NUESTROS PRODUCTOS</h1>
        </div>   
        <div>
            <h2>KATE</h2>
            <img src="../IMAGENES/10.jpg" alt="1.jpg" height="315">
        </div>
        <div>
            <h2>OSAKA</h2>
            <img src="../IMAGENES/2.jpg" alt="2.jpg" height="315">
        </div>
        <div>
            <h2>ROBIN</h2>
            <img src="../IMAGENES/3.jpg" alt="3.jpg" height="315">
        </div>
        <div>
            <h2>EMMA</h2>
            <img src="../IMAGENES/4.jpg" alt="4.jpg" height="315">
        </div>
        <div>
            <h2>MILO</h2>
            <img src="../IMAGENES/5.jpg" alt="5.jpg" height="315">
        </div>
        <div>
            <h2>PRAGA</h2>
            <img src="../IMAGENES/8.jpg" alt="6.jpg" height="315">
        </div>
    </div>    
</main> 
    
<!-- FOOTER -->
<footer>
    <div class="footer__flex">   
        <div>
            <h2 class="footer__1">¿EN QUE PODEMOS AYUDARTE?</h2>
                <p>Respondemos a todas tus preguntas sobre nuestro servicio online</p> 
                <p>HORARIO</p>
                <p>Lunes a Viernes 10 a 17 hs</p>
                <p>54 11 6185 0930</p>
        </div>
        <div>
            <h2 class="footer__2">¡ENVIANOS UN MENSAJE!</h2>
                <p>Queremos saber que tenes para decir</p>
                <a href="../VIEWS/contacto.html">Hace click aca y dejanos tu comentario</a>
            <h2><a href="../VIEWS/nosotros.html">SOMOS NEON</a></h2>
        </div> 
        <div>
            <a href="../index.html"><img src="../IMAGENES/android-chrome-192x192.png" alt="" class="footer__logo"></a>
        </div>
    </div>  
        <div class="footer__creditos">
            DESARROLLADO POR GABRIELA MARTINEZ
        </div>
</footer>
</body>
</html>